.footer {
  padding-top: 50px;

  h4 {
    text-align: center;
    font-size: 16;
    font-family: "Poppins", sans-serif;
    color: #999999;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .social_links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    a{
      text-decoration: none;
      align-items: center;

      .icon {
        text-decoration: none;
        font-size: 22px;
        padding-top: 50px;
        color: #999999;
        :hover {
          color: #ffffff;
        }
      }
    }
  }
}
